@import 'nib'

global-reset()

reset-html5()

html
    height 100%

body
    min-height 100%
    background linear-gradient(top, #333, 10% #1c1c1c)
    background-attachment fixed
    padding 10px 20px
    font-family 'Source Sans Pro'
    text-align center

.wrapper
    min-height 100%
    width 805px
    margin 0 auto
    padding-bottom 20px

h1
    font-size 1.75em
    color white
    margin 0.75em 0 1em
    padding-top 15px
    font-weight normal
    text-align left
    text-shadow black 0 1px 1px

p
    margin 0 0 1em 0

#users
    width 200px
    margin-right 20px
    border-color black #222 #222 black
    border-style solid
    border-width 1px
    background linear-gradient(top, black, 10% #161616)
    h3
        color #999
        font-size 1.25em
        font-weight normal
        text-transform uppercase
        margin 0 0 0.5em
    ul
        padding 0
    li
        color #bd0
        list-style-type none
        padding 8px
        margin-bottom 8px
        background #222
        border-radius 3px

#main
    width 500px
    background linear-gradient(top, #444, 20% #2c2c2c)
    padding-bottom 20px

#users, #main
    float left
    color white
    min-height 300px
    overflow scroll-y
    padding 20px
    border-radius 5px
    text-align left

.username
    color #aaa

.message
    font-weight normal
    text-shadow #000 1px 1px 1px
    
input#msg
    width 410px
    height 28px
    padding 4px 8px
    margin-right 8px
    background linear-gradient(top, #333, 10% #4c4c4c)
    color #eee
    border #555 1px solid
    border-color #262626 #595959 #595959 #262626
    border-radius 8px
    outline 0 none

input#send
    font-size 0.825em
    text-align center
    width 64px
    height 38px
    padding 8px
    background linear-gradient(top, #aaa, 20% #999, #888)
    color #111
    border black 1px solid
    border-color  #ccc #222 #222 #ccc
    border-radius 8px
    text-shadow #ddd 1px 1px 1px

